In [67]:
import pandas as pd
import numpy as np

In [68]:
protests = pd.read_csv('protests_clean.csv')

In [69]:
selected_cols = protests[["iso3", "event_id_no_cnty", "year", "region", "country"]]

In [70]:
unique_countries = selected_cols.drop_duplicates(subset = ["country"])

In [71]:
# Aggregate every country every year - the number of protests
match = selected_cols.groupby(['country', 'year']).count().reset_index()
match = match[['country', 'year', 'iso3']]
match.columns = ['country', 'year','count']

In [72]:
map_df = match.merge(unique_countries, how='left', on='country')
map_df = map_df[['country', 'year_x', 'count', 'iso3', 'region']]

In [73]:
# map_df['year_x'] = pd.to_datetime(map_df['year_x'])
map_df_sorted = map_df.sort_values('year_x', ascending=True).reset_index(drop=True)
# map_df['year_x'] = map_df['year_x'].dt.strftime('%Y')
map_df_sorted

           country  year_x  count iso3           region
0             Mali    1997      6  MLI   Western Africa
1          Morocco    1997      3  MAR  Northern Africa
2     Burkina Faso    1997      4  BFA   Western Africa
3      Ivory Coast    1997      7  CIV   Western Africa
4            Benin    1997      2  BEN   Western Africa
...            ...     ...    ...  ...              ...
1808          Peru    2022   1307  PER    South America
1809      Paraguay    2022    966  PRY    South America
1810      Botswana    2022      3  BWA  Southern Africa
1811      Bulgaria    2022    523  BGR           Europe
1812      eSwatini    2022     37  SWZ  Southern Africa

[1813 rows x 5 columns]

In [74]:
import plotly.express as px
df = px.data.gapminder()
fig = px.scatter_geo(map_df_sorted, locations="iso3", locationmode = "ISO-3", color="region", 
                     hover_name="country", size="count",
                     animation_frame="year_x",
                     projection="natural earth")
fig.write_html("Protests_Count_Interactive_sorted_but_WRONG.html")

In [76]:
import plotly.express as px
df = px.data.gapminder()
fig = px.scatter_geo(map_df, locations="iso3", locationmode = "ISO-3", color="region", 
                     hover_name="country", size="count",
                     animation_frame="year_x",
                     projection="natural earth")
fig.write_html("Protests_Count_Interactive_correct_but_not_sorted.html")